:root {
    --color-60: #d8dfe9;
    --color-30: #ffffff; 
    --color-10: #0a3971; 
    --color-hover: #00c7b7;

    --section-height: 95vh;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color-60);
    color: var(--color-10); 
    font-family: Arial, sans-serif;
}

